/* ADD YOUR STYLES HERE */

/*-----  part 6 Horizontally Spaced  ---*/
/*part1*/
.bigbox {
	margin-left: 72px;
}

.bigbox img{
	padding: 25px;
	float: center;
}

/* part 2*/
.fancybox {
	margin-left: 20px;
	margin-top: 20px;
}

.fancybox img {
	padding: 30px;
	padding-top: 0;
	float: center;
	vertical-align: top;
}

.fancybox p, .fancybox ol {
	display: inline-block;
	vertical-align: text-top;
}
/*  ------    Part 7 Vertically Spaced    -----*/
/*part1*/

.smallbox img{
	padding-top: 125px;
	padding-bottom: 125px;

}

/*part2*/
.smallgrouping {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*  ------    Part 8 horizontal list   -----*/

.horizontallist {
	padding-left: 0;
}

.horizontallist li {
	display: inline-block;
	float: left;
}


/*  ------    Part 9 Buttons   -----*/









